<div class="wraper">
  <div>
    <ul>
      <li>
<!--        //тут будет менюшка-->
<!--          //todo-->
<!--          //home-->
<!--          //comand &#45;&#45; команда студії розподіл ролей і тд-->
<!--          //account-->
      </li>
    </ul>
  </div>
  <div>
<!--    <todo>-->
<!--      //прикрутити сюди календар який буде автозаповнюватись при замовленні колбека-->
<!--    </todo>-->
<!--    <home>-->
<!--      //можливість міняти текст на стартовій сторінці заставку і about-->
<!--    </home>-->

  </div>
</div>
