.wraper{
  margin-top: 3%;
  width: 60%;
  padding: 2%;
  height: 60%;
  text-align: center;
  margin-left: 15%;
  background-color: rgba(210, 210, 210, 0.5);
  //display: flex;
  //justify-content: center;
  //border: 1em solid red;
  //border-left: 0;
};
//.break{
//  flex-basis: 100%;
//  height: 0;
//};
//
//.abc{
//  flex-basis: 100%;
//}
#btnGetStart{
  margin-left: 1em;
}
